
* {
    color: rgb(25.5, 25.5, 76.5);
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px 0;
}

#main {
    border-radius: 5px;
    padding: 10px 30px;
    background-color: lightgrey;
}

#image-caption {
    max-width: 100%;
    display: block;
    border-radius: 4px;
}

#img-div {
    display: flex;
    justify-content: center;
}

#title {
    padding: 10px 0;
    font-size: 18px;
}
